<template>
  <button type="button"
          class="transition w-full text-lg mx-5 rounded py-1 rounded
                 bg-gray-300 hover:bg-blue-500 text-gray-600 hover:text-gray-100"
          @click="$emit('click')">
    {{ label }}
  </button>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true
    }
  }
}
</script>
