<template>
  <p class="transition text-red-500" :class="[visible ? 'visible' : 'invisible']">{{ text }}</p>
</template>

<script>
  export default {
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      text: {
        type: String,
        default: ''
      }
    }
  }
</script>
