<template>
  <div class="text-center">
    <p class="text-xl text-red-700">ERROR</p><br/>
    <p class="text-gray-700">{{ errorMsg }}</p><br/>
    <p class="text-sm text-gray-500">Please, try again</p>
  </div>
</template>

<script>
export default {
  props: {
    errorMsg: {
      type: String,
      required: true
    }
  }
}
</script>
