<template>
  <div class="justify-center flex">
    <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Heather&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light'/>
    <div class="ml-10 self-center">
      <p class="text-3xl font-bold text-gray-700">{{ email }}</p>
      <p class="font-semibold text-blue-400">@{{ username }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    username: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    }
  }
}
</script>
