<template>
  <div class="flex flex-col h-screen bg-gray-800">
    <div class="grid place-items-center mx-2 my-20 sm:my-auto">
      <div class="w-11/12 p-12 sm:w-9/12 md:w-8/12 lg:w-7/12 2xl:w-5/12 px-6 py-10 sm:px-10 sm:py-6
                  bg-white rounded-lg shadow-md lg:shadow-lg">
        <UserInfo v-if="email" :email="email" :username="username"/>
        <UserError v-if="status && status != 200" :error-msg="error_msg"/>
      </div>
    </div>
  </div>
</template>

<script>
  import UserInfo from "~/components/User.vue"

  export default {
    components: { UserInfo },
    data () {
      return {
        status: "",
        error_msg: "",
        username: "",
        email: "",
      }
    },
    async beforeMount () {
      const token = this.$store.state.token.jwt;
      if (!token)
        this.$router.push('/sign-in'); 

      this.$axios.setToken(token, "Bearer");
      try {
        const response = await this.$axios.$get('/600/users/' + this.$route.params.id, {});
        this.username = response.username;
        this.email = response.email;
        this.status = response.status;
      } catch (err) {
        switch (this.status) {
          case 403:
            this.error_msg = "Private resource access: entity must have a reference to the owner id";
            break;
          case 401:
            this.error_msg = "Cannot read property 'id' of undefined";
            break;
        }
      }
    }
  }
</script>
