<template>
  <div class="flex flex-col h-screen bg-gray-800">
    <div class="grid place-items-center mx-2 my-20 sm:my-auto">
      <div class="w-11/12 p-12 sm:w-9/12 md:w-8/12 lg:w-7/12 2xl:w-5/12 px-6 py-10 sm:px-10 sm:py-6
                  bg-white rounded-lg shadow-md lg:shadow-lg">
        <CardHeader/>
        <div class="md-10 mt-3">
          <div class="flex items-center justify-between mt-8">
            <Button label="clear" @click="clear_fields"/>
            <Button label="sign-in" @click="send"/>
          </div>
          <p class="text-center text-sm mt-6">Not an user? <a class="text-blue-600" href="/sign-up">Sign-up!</a></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CardHeader from "~/components/Header.vue"
  import ErrorMessage from "~/components/Error.vue"
  import TextInput from "~/components/Input.vue"
  import Button from "~/components/Button.vue"

  export default {
    components: { TextInput, Button, CardHeader, ErrorMessage },
    data () {
      return {
        error: false,
      }
    },
    methods: {
      clear_fields () {
        this.error = false;
        this.$store.commit('sign_in/clear');
      },
      async send () { 
        try {
          this.error = false;
          await this.$store.dispatch('sign_in/send');
        } catch (err) {
          this.error = true;
          this.error_msg = err.response.data;
        }
      },
    }
  }
</script>
